@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Source Sans Pro', sans-serif;
    text-decoration: none;
}

body{
    max-width: 1200px;
    padding: 160px 5px 0;
    background-color: #ffffff;
    margin: auto;

}

/*SECCIÓN HEADER*/

.header{
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: white;
    height: 120px;


}

/*.header__superior_mod{
    height: 0px;
    box-shadow: 1px 1px 10px 0px grey;

}*/


/* HEDER SUPERIOR */

.heder__superior{
    max-width: 1200px;
    margin: auto;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    height: 60px;
    
    
}

.logo img{
    width: 70px;
    cursor: pointer;
    
}


    

ul > li{
    list-style: none;
    display: flex;
    justify-content: space-between;
}

.redes img{
    width: 30px;
    cursor: pointer;
}

ul > li > img{
    display: flex;
    padding: 5px;
}

.redes > ul{
    display: flex;
    padding: 5px;
    align-items: center;
}

.redes ul > li:hover{
    *background-color: #BA1A8F;
    border-radius: 20px;
    transform: scale(1.3);
}

/* BARRA MENU */

.container__menu{
    width: 100%;
    height: 60px;
    background-color: #BA1A8F;
    padding: 2px 20px 0px;
    
}

.menu{
    max-width: 1200px;
    margin: auto;
    height: 100%;
}

.nav-menu{
    height: 100%;
}

.menu-principal{
    height: 100%;
    display: flex;
}

.list-menu:first-child .link-menu{
    background-image: url(../img/home.png);
    background-size: 24px;
    background-repeat: no-repeat;
    background-position: center center;
    padding: 20px 40px;
}

.list-menu:first-child:hover .link-menu{
    background-image: url(../img/home.png);
    background-size: 24px;
    background-repeat: no-repeat;
    background-position: center center;
    

}

.list-menu{
    height: 100%;
    list-style: none;
    position: relative;
}

.link-menu{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    color: white;
    padding: 14px;
    text-transform: uppercase;
    font-size: 1.0em;
    transition: all 300ms ease;
}

.link-menu:hover{
    transform: scale(1.1);
    background: #634388;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
}

#selected{
    transform: scale(1.1);
    background-color: #634388;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
}

/* SUBMENU */

.submenu{
    width: 200px;
    display: flex;
    flex-direction: column;
    background: #fff;
    position: absolute;
    top: 90px;
    left: -5px;
    padding: 14px 0px;
    visibility: hidden;
    opacity: 0;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
    z-index: 10;
    transition: all 300ms ease;
}

nav ul li:hover ul{
     visibility: visible;
     opacity: 1;
     top: 70px;
}

.submenu:before{
    content: '' ;
    width: 0;
    height: 0;
    border-left: 12px solid transparent;
    border-right: 12px solid transparent;
    border-bottom: 12px solid white;
    position: absolute;
    top: -12px;
    left: 20px;
}

.link-submenu{
    display: block;
    color: #5A04BD;
    padding: 6px;
    padding-left: 14px;
    margin-top: 10px;
    font-size: 1.0em;
    text-transform: uppercase;
    transition: all 300ms ease;
}

.link-submenu:hover{
    background: #13011f ;
    color: #fff;
    transform: scale(1.1);
    padding-left: 30px;
    font-size: 14px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
}


/* ELEMENTOS RESPONSIVOS */

.menu-toggle{
    color: white;
    background: none;
    border: none;
    font-size: 28px;
    padding: 0 20px;
    line-height: 60px;
    display: none;
}

/*SECCION MAIN*/

main{
    padding: 1px 2px 1px;
    height: 100%;
}





.hero__container{
    font-family: 'Poppins', sans-serif;
    background-image: url(../img/portada.png);
    max-width: 1200px;
    height: 500px;
    /* box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5); */
    margin-top: 0 0 50px;
    

}

.hero__1{
    font-size: 2em;
    text-align: left;
    margin-left: 40px;
    color: #fff;
}

.hero__2, .hero__3, .hero__4{
    font-size: 2.7em;
    text-align: left;
    margin-left: 40px;
    color: rgb(255, 255, 255);
}
    

.hero__5{
    text-align:left;
    margin-left: 40px;
    
    font-size: 1.5em;
    padding: 20px 0 10px;
    color:  #fff;
    
}

.hero__boton{
    display: inline-block;
    font-size: 1em;
    padding: 10px 25px;
    margin-bottom: 40px;
    color: #fff;
    text-decoration: none;
    background-color: #1A8FBA;
    cursor: pointer;
    border-radius: 50px;
    border: 2px solid transparent;
    transition: all 300ms ease-out;
    letter-spacing: 0.5px; /*Para separar un poco las letras*/
}

.hero__boton:hover{
    
    transform: scale(1.1);
    background-color: #99cc33;
}

.btn{
    text-align: center;
    padding: 30px 0 0;
    
}


.wave{
    padding: 0 0 20px;
    max-width: 6000px;
    height: 100%;
    
    
}



.animation{
    animation-name: animation-portada;
    animation-duration: 4s;
    /* animation-delay: -2s; */
}

@keyframes animation-portada{
    0%   {top:0px;}
  50%  {top:500px;}
  75%  {top:500px;}
  100% {top:0px;}
}


/*SECCIÓN SERVICIOS*/

.servicios{
    
    max-width: 1200px;
    height: 540px;
    background-color: #000000;
    margin: auto;
}

.entry-title{
    font-size: 2em;
    color: #fff;
    padding: 20px 0 2px;
    text-align: center;
    
    display: block;
    text-transform: uppercase;
}



.texto{
    padding: 60px;
}


/*SECCIÓN FOOTER*/

@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,600;1,700;1,800;1,900&display=swap');

footer{
    width: 100%;
    height: 100%;
    padding: 50px 0px;
    font-family: 'Nunito', sans-serif;
    *background-color: var(--color-esqueleto);
    background-image: url("../img/footer.svg");
    background-size: cover;

    /*webkit-mask-image: url("../Images/background-footer.svg");
    mask-image: url("../Images/background-footer.svg");
    -webkit-mask-size: cover;
    mask-size: cover;*/
}

.container__footer{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 1200px;
    margin: auto;
    padding-top: 100px;
}

.box__footer{
    display: flex;
    flex-direction: column;
    padding: 40px;
}

.box__footer .logo img{
    width: 180px;
}

.box__footer .terms{
    max-width: 350px;
    margin-top: 20px;
    font-weight: 500;
    color: #000000;
    font-size: 18px;

}

.box__footer h2{
    margin-bottom: 30px;
    color: #000000;
    font-weight: 700;
}

.box__footer a{
    margin-top: 10px;
    color: #000000;
    font-weight: 600;
}

.box__footer a:hover{
    opacity: 0.8;
}

.box__footer a .fab{
    font-size: 20px;
}

.box__copyright{
    max-width: 1200px;
    margin: auto;
    text-align: center;
    padding: 0px 40px;
}

.box__copyright p{
    margin-top: 20px;
    color: #000000;
}

.box__copyright hr{
    border: none;
    height: 1px;
    background-color: #000000;
}

.desarrollador{
    text-decoration: none;
    color: #000000;
}





@media screen and (max-width: 720px){
    

    .header{
        position: fixed;
        
    }

    .heder__superior{
        padding: 5px;
        flex-wrap: wrap;
        
    }
    
    .logo{
        width: 50px;
    }



    .menu-principal{
        flex-direction: column;
        background: #13011f;
        position: fixed;
        left: 0%;
        top: 120px;
        width: 100%;
        height: 230px;
        transition: all 300ms ease;
        z-index: 100;
        
        visibility: hidden;
    
    }

    .link-menu:hover{
        transform: scale(1);
    }

    .submenu{
        left: 90px;

    }

    nav > ul > li:hover ul{
        top: 50px;
    }

    nav > ul > li:first-child ul{
        background-position: 20px;
    }

    #selected{
        transform: scale(1);
    }

    .redes{
        display: inline-flex;
        align-items: center;
    }

    .menu-toggle{
        display: block;
    }

    .nav-menu_visible{
       visibility: visible;
       left: 0;
   }


}