@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Source Sans Pro', sans-serif;
    text-decoration: none;
}

:root{
    --sombras-color: rgb(0,0,0,0.5);
}

body{
    max-width: 1200px;
    padding: 160px 5px 0;
    background-color: #ffffff;
    margin: auto;

}

/*SECCIÓN HEADER*/

.header{
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: white;
    height: 120px;


}

/*.header__superior_mod{
    height: 0px;
    box-shadow: 1px 1px 10px 0px grey;

}*/


/* HEDER SUPERIOR */

.heder__superior{
    max-width: 1200px;
    margin: auto;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    height: 60px;
    
    
}

.logo img{
    width: 70px;
    cursor: pointer;
    
}


    

ul > li{
    list-style: none;
    display: flex;
    justify-content: space-between;
}

.redes img{
    width: 30px;
    cursor: pointer;
}

ul > li > img{
    display: flex;
    padding: 5px;
}

.redes > ul{
    display: flex;
    padding: 5px;
    align-items: center;
}

.redes ul > li >img:hover{
    background-color: #634388;
    border-radius: 20px;
    transform: scale(1);
}

/* BARRA MENU */

.container__menu{
    width: 100%;
    height: 60px;
    background-color: #BA1A8F;
    padding: 2px 20px 0px;
    
}

.menu{
    max-width: 1200px;
    margin: auto;
    height: 100%;
}

.nav-menu{
    height: 100%;
}

.menu-principal{
    height: 100%;
    display: flex;
}

.list-menu:first-child .link-menu{
    background-image: url(../img/home.png);
    background-size: 24px;
    background-repeat: no-repeat;
    background-position: center center;
    padding: 20px 40px;
}

.list-menu:first-child:hover .link-menu{
    background-image: url(../img/home.png);
    background-size: 24px;
    background-repeat: no-repeat;
    background-position: center center;
    

}

.list-menu{
    height: 100%;
    list-style: none;
    position: relative;
}

.link-menu{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    color: white;
    padding: 14px;
    text-transform: uppercase;
    font-size: 1.0em;
    transition: all 300ms ease;
}

.link-menu:hover{
    transform: scale(1.1);
    background: #634388;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
}

#selected{
    transform: scale(1.1);
    background-color: #634388;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
}

/* SUBMENU */

.submenu{
    width: 200px;
    display: flex;
    flex-direction: column;
    background: #fff;
    position: absolute;
    top: 90px;
    left: -5px;
    padding: 14px 0px;
    visibility: hidden;
    opacity: 0;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
    z-index: 10;
    transition: all 300ms ease;
}

nav ul li:hover ul{
     visibility: visible;
     opacity: 1;
     top: 70px;
}

.submenu:before{
    content: '' ;
    width: 0;
    height: 0;
    border-left: 12px solid transparent;
    border-right: 12px solid transparent;
    border-bottom: 12px solid white;
    position: absolute;
    top: -12px;
    left: 20px;
}

.link-submenu{
    display: block;
    color: #5A04BD;
    padding: 6px;
    padding-left: 14px;
    margin-top: 10px;
    font-size: 1.0em;
    text-transform: uppercase;
    transition: all 300ms ease;
}

.link-submenu:hover{
    background: #13011f ;
    color: #fff;
    transform: scale(1.1);
    padding-left: 30px;
    font-size: 14px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
}


/* ELEMENTOS RESPONSIVOS */

.menu-toggle{
    color: white;
    background: none;
    border: none;
    font-size: 28px;
    padding: 0 20px;
    line-height: 60px;
    display: none;
}

/*SECCION MAIN*/

main{
    padding: 1px 2px 1px;
    height: 100%;
}





.hero__container{
    font-family: 'Poppins', sans-serif;
    background: rgba(0, 0, 0, 0.4) url(../img/portada.png);
    max-width: 1200px;
    height: auto;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode: darken;
    /* box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5); */
    margin-top: 0 0 90px;
    padding: 40px 0 0;
    

}

.hero__1{
    font-size: 2em;
    text-align: left;
    margin-left: 40px;
    color: #fff;
}

.hero__2, .hero__3, .hero__4{
    font-size: 2.7em;
    text-align: left;
    margin-left: 40px;
    color: rgb(197, 116, 180);
}
    

.hero__5{
    text-align:left;
    margin-left: 40px;
    
    font-size: 1.5em;
    padding: 20px 0 10px;
    color:  #fff;
    
}

.hero__boton{
    display: inline-block;
    font-size: 1em;
    padding: 10px 25px;
    margin-bottom: 40px;
    color: #fff;
    text-decoration: none;
    background-color: #7d2ae8;
    cursor: pointer;
    border-radius: 50px;
    border: 2px solid transparent;
    transition: all 300ms ease-out;
    letter-spacing: 0.5px; /*Para separar un poco las letras*/
}

.hero__boton:hover{
    
    transform: scale(1.1);
    background-color: #99cc33;
}

.btn-portada{
    text-align: center;
    padding: 30px 0 20px;
    margin-top: 50px;
    
}

.hero__boton:active {
    box-shadow: inset 0 0 20px white;
  }
  
.hero__boton:active {
    box-shadow: inset 0 0 20px black;
  }


.wave{
    padding: 70px 0 0;
    max-width: 6000px;
    height: 100%;
    position:;
    
    
}




/*SECCIÓN SERVICIOS*/

.diseñoweb-banner{
    
    max-width: 1200px;
    height: auto;
    background:rgba(0, 0, 0, 0.7) url(../img/fondo-diseño-web.jpg);
    margin-top: 10px;
    background-size: cover;
    background-blend-mode: darken;
}

.entry-title{
    font-size: 2em;
    color: #fff;
    padding: 35px 0 2px;
    text-align: center;

    display: block;
    text-transform: uppercase;
}

.btn1-web{
    display: inline-block;
    font-size: 1em;
    padding: 10px 25px;
    margin-bottom: 40px;
    color: #ffffff;
    text-decoration: none;
    *background-color: #0cd80c;
    cursor: pointer;
    border-radius: 50px;
    border-style: solid;
    

}

.btn-banner1{
    text-align: center;
    padding: 30px 0 50px;
    margin-top: 50px;
}

.btn1-web:hover{
    background-color: #BA1A8F;
}

.btn1-web:active {
    box-shadow: inset 0 0 20px white;
  }
  
.btn1-web:active {
    box-shadow: inset 0 0 20px black;
  }

/* CARRUSEL INICIO */

.container-destacadas{
    
    font-size: 1.5em;
    color: #000000;
    padding: 35px 0 2px;
    text-align: center;
    display: block;
    background-color: #ffffff;
    /* text-transform: uppercase; */
}

.line-destacadas{
    border-color: #BA1A8F;
    width: 40%;
    justify-content: center;
    margin-left: 30%;
    
    
}

.container-cards{
    background-color: #ffffff;
    max-width: 1200px;
    padding: 10px;
    padding-bottom: 40px;
    margin: auto;
    margin-top: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    
}


.product{
    width: 230px;
    margin: 40px;
    font-family: 'Poppins', sans-serif;
    transition: all 300ms;
    border-radius: 20px;
    background-color: #ffffff;
    text-align: center;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.8);
}

.img-cards{
    max-width: 180px;
    height: 180px;
    margin-top: 10px;
}

.title-cards{
    color: #000000;
}

.description-product{
    color: #000000;
    padding: 10px;
}

.btn-cards{
    display: inline-block;
    font-size: 1em;
    padding: 10px 25px;
    margin-bottom: 40px;
    color: #000000;
    text-decoration: none;
    background-color: #7d2ae8;
    cursor: pointer;
    border-radius: 50px;
    border-style: solid;
}

/*SECCION FORMULARIO*/

.section-form{
    max-width: 1200px;
    display: flex;
    background-color: rgb(182, 136, 184);
    padding: 14px 20px 20px;
    align-items: center;
    justify-content: space-around;
    border-radius: 20px;
}

.camp-form{
    width: 100%;
    height: 30px;
    padding: 10px 10px;
}

.redes-form icon{
    width: 40px;
    
}

.redes-form{
    
    padding: 5px;
    align-items: center;
}

.cel{
    text-decoration: none;
    display: inline-block;
    text-align: center;
    align-items: center;
    font-size: 1.2em;
    cursor: pointer;
    color: #000000;
}

.mail{
    text-decoration: none;
    display: inline-block;
    color: #000000;
    cursor: pointer;
    font-size: 1.2em;
}

.direction{
    font-size: 1.2em;
}

.line-date{
    width: 47%;
    border-color: #99cc33;
}

.btn-form{
text-align: center;
    
}

.btn-envio{
    background-color: #000000;
    color: #ffffff;
    font-size: 1.2em;
    margin-bottom: 20px;
    padding: 14px 20px;
    cursor: pointer;
    border-radius: 30px;
}

.contact-area{
    width: 50%;
    height: 20%;
}

.menssage{
    width: 100%;
    height: 100%;
    padding: 10px 10px;
}

.title-contact{
    text-align: left;
    font-size: 1.2em;
}

/* SECCIÓN ABOUT */

.about-company{
    text-align: center;
    padding: 20px;
    font-size: 1.5em;
    font-family: 'Poppins', sans-serif;
}

.about-description{
    font-family: 'Source Sans Pro', sans-serif;

}

.nuestro-equipo{
    text-align: center;
    padding: 20px;
    font-size: 1.5em;
    font-family: 'Poppins', sans-serif;
}

.services-title{
    text-align: center;
    padding: 20px;
    font-size: 1.5em;
    font-family: 'Poppins', sans-serif;
}

.sction-jobs{
    text-align: center;
    padding: 20px;
    font-size: 1.5em;
    font-family: 'Poppins', sans-serif;
}

.curriculum{
    text-align: center;
    padding: 20px;
}

.cards-desarrollador{
    background-color: #ffffff;
    max-width: 1200px;
    padding: 10px;
    padding-bottom: 40px;
    margin: auto;
    margin-top: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    
}


.card{
    width: 250px;
    height: 350px;
    margin: 10px;
    border-radius: 20px;
    background: linear-gradient(0deg,#ffffff 60%, #7d2ae8 40% );
    box-shadow: 0 5px 10px rgba(0,0,0,0.1);
}



.card-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px;
    
}

.card-header1{
    display: flex;
    /* align-items: center; */
    justify-content:space-between;
}

.avatar{
    height: 120px;
    width: 120px;
    background-repeat: no-repeat;
    background-position: 50%;
    border-radius: 50%;
    background-size: 100% auto;
    text-align: center;
    object-fit: cover;
    border: 3px solid #fff;
}

.content-avatar{
    border-radius: 50%;
    background: #7d2ae8;
    margin-left: 10%;
}

.media-icons{
    color: #202020;
    display: flex;
    flex-direction: column;
    padding-top: 10px;
    text-align:right;
    justify-content:right;
    margin-left: 25%;
}

.media-icons >i{
    padding: 2px;
}

.media-icons >i:hover{
    opacity: 1;
    color: #ffffff;
    opacity: 0.6;
    cursor: pointer;
    transition: all 0.3s ease;
}

.name-profession{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 15px;
}
.name{
    color: #000000;
    font-size: 1em;
    font-family: sans-serif;
    padding: 5px 0 10px;
}

.profession{
    color: #000000;
    font-size: .8em;
    font-family: sans-serif;
    padding: 0 0 20px;
}

.rating{
    color: #7d2ae8;
    padding: 0 0 20px;
}

.aboutMe{
    background: #7d2ae8;
    outline: none;
    border: none;
    color: #fff;
    padding: 8px 22px;
    border-radius: 20px;
    font-size: 14px;
    transition: all 0.3s ease;
    cursor: pointer;
}




/*SECCIÓN FOOTER*/

@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,600;1,700;1,800;1,900&display=swap');

footer{
    width: 100%;
    height: 100%;
    padding: 50px 0px;
    font-family: 'Nunito', sans-serif;
    *background-color: var(--color-esqueleto);
    background-image: url("../img/footer.svg");
    background-size: cover;

    /*webkit-mask-image: url("../Images/background-footer.svg");
    mask-image: url("../Images/background-footer.svg");
    -webkit-mask-size: cover;
    mask-size: cover;*/
}

.container__footer{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 1200px;
    margin: auto;
    padding-top: 100px;
}

.box__footer{
    display: flex;
    flex-direction: column;
    padding: 40px;
}

.box__footer .logo img{
    width: 180px;
}

.box__footer .terms{
    max-width: 350px;
    margin-top: 20px;
    font-weight: 500;
    color: #000000;
    font-size: 18px;

}

.box__footer h2{
    margin-bottom: 30px;
    color: #000000;
    font-weight: 700;
}

.box__footer a{
    margin-top: 10px;
    color: #000000;
    font-weight: 600;
}

.box__footer a:hover{
    opacity: 0.8;
}

.box__footer a .fab{
    font-size: 20px;
}

.box__copyright{
    max-width: 1200px;
    margin: auto;
    text-align: center;
    padding: 0px 40px;
}

.box__copyright p{
    margin-top: 20px;
    color: #000000;
}

.box__copyright hr{
    border: none;
    height: 1px;
    background-color: #000000;
}

.desarrollador{
    text-decoration: none;
    color: #000000;
}





@media screen and (max-width: 720px){
    

    .header{
        position: fixed;
        
    }

    .heder__superior{
        padding: 5px;
        flex-wrap: wrap;
        
    }
    
    .logo{
        width: 50px;
    }



    .menu-principal{
        flex-direction: column;
        background: #13011f;
        position: fixed;
        left: 0%;
        top: 120px;
        width: 100%;
        height: 230px;
        transition: all 300ms ease;
        z-index: 100;
        
        visibility: hidden;
    
    }

    .link-menu:hover{
        transform: scale(1);
    }

    .submenu{
        left: 90px;

    }

    nav > ul > li:hover ul{
        top: 50px;
    }

    nav > ul > li:first-child ul{
        background-position: 20px;
    }

    #selected{
        transform: scale(1);
    }

    .redes{
        display: inline-flex;
        align-items: center;
    }

    .menu-toggle{
        display: block;
    }

    .nav-menu_visible{
       visibility: visible;
       left: 0;
   }

   .section-form{
    flex-direction: column;
    margin-right: 20px;
    
}

.media-icons{
    margin-left: 15%;
}


}